*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #ffeec8;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
}
.navbar li{
    list-style-type: none;
    display: inline;
    font-size: 1vw;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar nav{
    width: 60%;
    border-radius: 20px;
    padding: 0.75vw;
    background: rgb(122,69,30);
    background: linear-gradient(90deg, rgba(122,69,30,1) 0%, rgba(45,34,34,1) 73%);
}  
.navbar a{
    color: aliceblue;
    text-decoration: none;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: silver;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;  
}
.navbar a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
footer{
    width: 100vw;
    position: absolute;
}
.container, .social-media, .copyright{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.social-media{
    gap: 3vw;
}
.social-media img{
    width: 1.5vw;
}

.newsletter form{
    display: flex;
    max-width: 300px; 
    margin: 0 auto;
}
  
.newsletter input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}
.newsletter button {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 14px;
}
  
.newsletter button:hover {
    background-color: #0056b3; 
}
  